@font-face {
    font-family: IBM Plex Sans, Helvetica Neue, Arial, sans-serif;
    src: url(https://github.com/IBM/plex);
}

#homepage {
    font-family: IBM Plex Sans, Helvetica Neue, Arial, sans-serif;
}

.heading {
    display: flex;
    justify-content: left;
    margin-left: 2.25em;
}

#header {
    font-size: 2em;
    font-weight: 200;
    color: #152935;
}

.main-container {
    display: flex;
    justify-content: center;
    margin: 2em;
    margin-top: 1em;
    height: 95%;
    background-color: #f4f7fb;
    outline-style: none;
}

#notepad {
    border: none;
    width: 100vw;
    height: 75vh;
    font-size: 1em;
    font-weight: 280;
    outline-style: none;
    resize: none;
    line-height: 1.4em;
}